streamlit
sentence-transformers
scikit-learn
numpy
pymupdf
Pillow
huggingface_hub
altair
cython  # Latest Cython version to avoid the 'nogil' warning
tokenizers  # Explicitly include tokenizers with pre-built wheels to avoid Rust compiler
